mat-card{
  width: 500px;
}
.form{
  width: 400px;
}
.card{
  width: 1300px;
  background-color:  rgb(53,129,188);
}
.container{
  background-image: url("/assets/Images/Home/back3.jpg");
  height: fit-content;
}
.a{
  text-decoration: none;
  color: white;
}
