<div fxLayout="column" fxLayoutGap="20PX">
  <div class="container">
    <img class="image" src="\assets\Images\Home\pray.jpg" />
    <div class="centered">
      <p style="font-size: 50px;">Get Fit With Us</p>
      <br />
      <h1>Yoga , Fitness Spinning & Many more</h1>
      <button class="btn" mat-raised-button color="warn">
        <a class="a" href="/login"> Join Now</a>
      </button>
    </div>
    <div class="cut"></div>
  </div>
  <div fxLayout fxLayoutGap="20px" class="box">
    <mat-card fxLayoutAlign="center center" class="card">
      <mat-card-title
        >Master Your Mindset And You Will Master Your Body</mat-card-title
      >
    </mat-card>
    <mat-card fxLayoutAlign="center center" class="card">
      <img style="width: 250px;" src="assets\Images\Home\logo.jpg" />
    </mat-card>
    <mat-card fxLayoutAlign="center center" class="card">
      <mat-card-title
        >Fit is not a Destination it is a way of life</mat-card-title
      >
    </mat-card>
  </div>
</div>
