<div class="container"  style="padding-top: 30px;" fxLayoutAlign="center center" fxHide.lt-md>
  <img class="image" src="\assets\Images\Home\back.jpg" />
  <div class="centered">
    <section
      class="current-training"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-progress-spinner
        mode="determinate"
        [value]="progress"
      ></mat-progress-spinner><br><br>
      <p style="color: black;font-size: 50px;">{{ progress }}%</p><br><br>
      <p style="color: black;font-size: 30px;">Keep on going, you can do it!</p><br><br>
      <button class="btn" mat-raised-button (click)="onStop()">Stop</button>
    </section>
  </div>
</div>
